<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collapsible</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/normalize.css">
</head>
<body>
    <div class="collapsible">
        <header class="collapsible__header">
            <h2 class="collapsible__heading">Products</h2>
            <svg class="icon icon--primary">
                <use xlink:href="../images/sprite.svg#icons8-search"></use>
            </svg>
        </header>
        <div class="collapsible__content">
            <ul class="list">
                <li class="list__item">WordPress Hosting</li>
                <li class="list__item">Free Automated WordPress</li>
                <li class="list__item">Migrations</li>
                <li class="list__item">Domain Names</li>
                <li class="list__item">Monthly Web Hosting</li>
            </ul>
        </div>
    </div>

    <div class="collapsible">
        <header class="collapsible__header">
            <h2 class="collapsible__heading">Services</h2>
            <svg class="icon icon--primary">
                <use xlink:href="../images/sprite.svg#icons8-search"></use>
            </svg>
        </header>
        <div class="collapsible__content">
            <ul class="list">
                <li class="list__item">WordPress Hosting</li>
                <li class="list__item">Free Automated WordPress</li>
                <li class="list__item">Migrations</li>
                <li class="list__item">Domain Names</li>
                <li class="list__item">Monthly Web Hosting</li>
            </ul>
        </div>
    </div>

    <div class="collapsible">
        <header class="collapsible__header">
            <h2 class="collapsible__heading">Features</h2>
            <svg class="icon icon--primary">
                <use xlink:href="../images/sprite.svg#icons8-search"></use>
            </svg>
        </header>
        <div class="collapsible__content">
            <ul class="list">
                <li class="list__item">WordPress Hosting</li>
                <li class="list__item">Free Automated WordPress</li>
                <li class="list__item">Migrations</li>
                <li class="list__item">Domain Names</li>
                <li class="list__item">Monthly Web Hosting</li>
            </ul>
        </div>
    </div>

    <script src="../js/main.js"></script>
</body>
</html>